<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Choose dates</title>
</head>
<body>
<div>
    <form method="post" action="/user/available_boats">
        <h2>Choose dates:</h2>
        <div>
            <label for="startDate">Start date (date and time):</label>
            <input type="datetime-local" id="startDate" name="startDate">
        </div>
        <div>
            <label for="endDate">End date (date and time):</label>
            <input type="datetime-local" id="endDate" name="endDate">
        </div>
        <div>
            <label for="passengerCapacity">Passenger capacity (between 1 and 10):</label>
            <input type="number" id="passengerCapacity" name="passengerCapacity" min="1" max="10">
        </div>
        <div th:if="${licence == 'Yes'}">
            <p>Do you want crew members?</p>
            <input type="radio" id="yes" name="crew_choice" value="Yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="crew_choice" value="No">
            <label for="no">No</label><br>
        </div>
        <div>
            <input type="submit" name="sign-in" value="Search">
        </div>
        <a href="/">Navigate to main</a>
    </form>
</div>
</body>
</html>