<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available Boats</title>
</head>
<body>
<div>
    <form method="post" action="/user/make_reservation" th:object="${reservationRequest}">
        <input type="hidden" th:field="*{startDate}" th:value="${reservationRequest.startDate}" />
        <input type="hidden" th:field="*{endDate}" th:value="${reservationRequest.endDate}" />

        <h2>Choose boat:</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Boat Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boat : ${boatPage}">
                <td th:text="${boat.name}" />
            </tr>
            </tbody>
        </table>
        <div>
            <input type="text" th:field="*{downPayment}" placeholder="downPayment" required>
        </div>
        <div>
            <input type="submit" name="sign-in" value="Reserve">
        </div>
        <a href="/">Navigate to main</a>
    </form>
</div>

<div th:if="${boatPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/user/available_boats(size=${boatPage.size}, page=${pageNumber}, startDate=${#dates.format(startDate, 'yyyy-MM-dd''T''HH:mm')}, endDate=${#dates.format(endDate, 'yyyy-MM-dd''T''HH:mm')})}"
       th:text="${pageNumber}"
       th:class="${pageNumber == boatPage.number + 1} ? 'active' : ''"></a>
</div>

</body>
</html>