<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: head}">
    <meta charset="UTF-8">
    <title>Reservation page</title>
</head>
<body style="background:#e9e9e9;">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container justify-content-center mt-4">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Availability</th>
                <th scope="col">Review</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Crew Capacity</th>
                <th scope="col">Passenger Capacity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boat : ${boats}">
                <td class="align-middle" th:text="${boat.img}"></td>
                <td class="align-middle" th:text="${boat.price}"></td>
                <td class="align-middle" th:text="${boat.availability}"></td>
                <td class="align-middle" th:text="${boat.review}"></td>
                <td class="align-middle" th:text="${boat.name}"></td>
                <td class="align-middle" th:text="${boat.type}"></td>
                <td class="align-middle" th:text="${boat.crewCapacity}"></td>
                <td class="align-middle" th:text="${boat.passengerCapacity}"></td>
                <td><a th:href="@{'/boat/edit' + ${boat.id}}">Edit</a></td>
                <td><a th:href="@{'/boat/delete/' + ${boat.id}}">Delete</a></td>
            </tr>
            <tr th:if="${boats.isEmpty()}">
                <td class="text-center" colspan="3">No Records found. Add some...!</td><a href="/crew/register"></a>
            </tr>
            </tbody>
        </table>
        <button><a href="/" />Home</button>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>