<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Register Company</title>
</head>
<body>
<div>
    <form method="post" action="/reservation" th:object="${reservationRequest}">
        <h2>Register company</h2>
        <div>
            <label for="startDate">Start date (date and time):</label>
            <input type="datetime-local" id="startDate" name="startDate">
        </div>
        <div>
            <label for="endDate">End date (date and time):</label>
            <input type="datetime-local" id="endDate" name="endDate">
        </div>
        <div>
            <input type="text" name="downPayment" placeholder="downPayment" required>
        </div><div>
            <label>Choose a user:</label>
            <select th:field="*{user_id}">
                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.email}"></option>
            </select>
        </div>
        <div>
            <label>Choose a boat:</label>
            <select th:field="*{boat_id}">
                <option th:each="boat : ${boats}" th:value="${boat.id}" th:text="${boat.name}"></option>
            </select>
        </div>
        <div>
            <input type="submit" name="sign-in" value="Reserve">
        </div>
        <a href="/">Navigate to main</a>
    </form>
</div>
</body>
</html>